@charset "utf-8";
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

header {
    width: 400px;
    height: 100%; position: fixed; top: 0px; left: 0px;
    background: linear-gradient(35deg, aqua, royalblue);
    
    h1 {
        font: bold 50px/1 "orbitron"; color: #fff; letter-spacing: 1px;
        position: absolute; top: 50%; left: 20%; transform: translateY(-200%);

        &::after {
            content: ""; display: block; width: 130px; height: 2px; background: #fff; margin-top: 20px;
        }
        &::before {
            content: "UI/UX DEVELOPMENT";
            font: 14px/1 "orbitron"; color: #fff; letter-spacing: 2px;
            position: absolute; left:0px; top: 140px;
        }
    }    
}

